@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
.Monserrat {
  font-family: "Montserrat", sans-serif;
}

.ant-menu-submenu-title {
  color: "#fff";
}
.ant-menu-submenu-open .ant-menu-submenu-title,
.ant-menu-submenu-selected .ant-menu-submenu-title {
  color: #fff !important;
}
.ant-menu-submenu-title:hover,
.ant-menu-submenu-title:hover {
  background-color: #fff !important;
  color: #10384f !important;
}
